{% extends 'blog/base.html' %}
{% block title %}{{ title }} — Микроблог{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">{{ title }}</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.content.label_tag }}
                        {{ form.content }}
                        {% if form.content.errors %}
                            <div class="text-danger">{{ form.content.errors }}</div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-success">Сохранить</button>
                    <a href="{% if title == 'Создать пост' %}{% url 'home' %}{% else %}{% url 'post_detail' post.id %}{% endif %}" class="btn btn-secondary">Отмена</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}